<p>
  this is the homepage . . . under construction
</p>

  <div class="btn btn-primary">
  <%= link_to "Log In", new_login_path %>
  <%= link_to "Log Out", login_path, method: :delete %>
  </div>

<p>What's your question?</p>
<%= render "ask" %>


<table>
  <tr>
    <th>Unanswered Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td></td>
        <td><%= link_to "Edit", edit_question_path(question) %></td>
        <td><%= link_to "Remove", question, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to "New question", new_question_path %>



