<div class="blog1">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Written by:</strong>
  <%= @question.user %>
  <strong>Date:</strong>
  <%= @question.created_at %>
</p>
<td><%= pluralize(@question.votes.count, "vote") %></td>
    <td><%= button_to 'Vote Up', vote_question_path(@question), method: :post %>
      <%= button_to 'Vote Down', vote_question_path(@question), method: :post %></td>

<h2>Answers</h2>
<% @question.answers.each do |answer| %>


  <p>
    <strong><%=  answer.user %></strong><br>
    <%= answer.text %>
  </p>
<% end %>

<h2>Answer this question:</h2>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <%= f.hidden_field :user, value: @current_user  %>
  <p>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>





<%= link_to 'Back', :back %>
