<%= flash[:notice] %>

<h2><%= @question.title %></h2>
<p><%= @question.text %></p>
<p>Asked by <%= @question.user.name %></p>
<p> <%= pluralize score(@question), "Vote" %>
  <% if logged_in? %>
    <%= link_to "up", vote_question_path(value: 1, user_id: @current_user.id), method: :post %>
    <%= link_to "down", vote_question_path(value: -1, user_id: @current_user.id), method: :post %>
  <% end %>
</p>

<% if @question.answers.count == 0 %>
  <h2>No Answers Yet</h2>
<% else %>
  <h2>Answers</h2>
  <% @question.answers.each do |answer| %>
  <p><%= answer.text %></p>
  <p>Answered by <%= answer.user.name%></p>
  <p><%= pluralize score(@answer), "Vote" %>
    <% if logged_in? %>
      <%= link_to "up", vote_answer_path(value: 1, user_id: @current_user.id), method: :post %>
      <%= link_to "down", vote_answer_path(value: -1, user_id: @current_user.id), method: :post %>
    <% end %>
  </p>

  <% end %>
<% end %>
<% if logged_in? %>
  <%= render 'answers/form' %>
<% else %>
  <p>You must be <%= link_to "Logged In", login_path %> to answer this question.</p>
<% end %>

