<h1>I AM YOUR ALL QUESTIONS INDEX</h1>
<table>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %>&nbsp &nbsp &nbsp<%= question.votes.count %>&nbsp votes &nbsp &nbsp<%= question.answers.count %>&nbsp answers<br>


        <%= question.user.to_s %><br><br></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Login", login_new_path	 %>&nbsp &nbsp <%= link_to "Sign Up", users_new_path	 %>
