<div class="wrapper">
  <aside>

    <div class="profile_head">
      <div id="profile_pic">
        <%= image_tag current_user.gravatar_url(size: 180) %>
      </div>
      <h1 id="name"><%=current_user.name%></h1>
    </div>
    <div class="profile_info">
      <ul style="column-width:100px;">
        <li><i id="map" class="fa fa-map-marker"></i><span id="location">Location, STATE</span></li>
        <li><i class="fa fa-envelope-o"></i><span id="email"><%=current_user.email%></span></li>
        <li><i class="fa fa-github"></i><span id="blog"><%=current_user.github_url%></span></li>
        <li><i class="fa fa-clock-o"></i><span id="created_at">Joined on<%=current_user.created_at%></span></li>
      </ul>
    </div>

    <div>
      <% if logged_in? %>
        <%#show link to edit and delete profile%>
      <% end %>
    </div>

  </aside>
  <main>
    <div class="main_nav">
    </div>

    <ul id="repos">
    </ul>
  </main>

</div>