<%= simple_form_for @login, url: login_path, wrapper: :inline do |form| %>
  <div class="row">
    <h2 class="large-9 large-offset-3 columns">Login or <%= link_to "register", new_user_path %></h2>
  </div>
  <%= form.input :email, label_html: {class: "inline right"} %>
  <%= form.input :password, label_html: {class: "inline right"} %>
  <div class="row">
    <div class="large-9 large-offset-3 columns">
      <%= form.button :submit, "Login" %>
      <p><%= link_to "Forgot your password?", password_reset_path %></p>
    </div>
  </div>
<% end %>
