<%= simple_form_for @user, wrapper: :inline do |form| %>
  <div class="row">
    <h1 class="headings">Register </h1> 

      <p style="sub-text">or <%= link_to "login", login_path %></p>      

  </div>
<%= form.input :name, label_html: {class: "inline right"} %>
  <%= form.input :email, label_html: {class: "inline right"} %>
  <%= form.input :password, label_html: {class: "inline right"} %>
  <%= form.input :password_confirmation, label_html: {class: "inline right"} %>

  <div class="row">
    <div class="large-9 large-offset-3 columns">
      <%= form.button :submit, "Register" %>
    </div>
  </div>

<% end %>


 