<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Question Box</title>
  <%= stylesheet_link_tag "user_profile" %>
</head>
<body>
  <!-- left footer -->
  <div class="left_footer">
    <div class="profile_head">
      <div id="profile_pic">
        <%= image_tag @user.gravatar_url(size: 180) %>
      </div>
      <h1 id="name"><%=@user.name%></h1>
    </div>
    <div class="profile_info">
      <ul style="column-width:100px;">
        <li><i id="map" class="fa fa-map-marker"></i><span id="location"> <%= @user.location %></span></li>
        <li><i class="fa fa-envelope-o"></i> <span id="email" > <%=@user.email%>  </span></li>
        <li><i class="fa fa-clock-o"></i><span id="created_at"> Joined on <%=@user.created_at%></span></li>
        <li><i class="fa fa-stack-overflow"></i> User StackOverflow Reputation is: <%= @user.so_reputation %></li>
        <li><i class="fa fa-github"></i><span id="blog"> <%= @user.github_url%></span></li>
        <li><i class="fa fa-twitter"></i><span id="twitter"> <%= @user.twitter_url%></li>
        <div class="edit-delete">
          <div class="links-edit-delete">
            <% if logged_in? && @user == current_user %>
            <div class="edit_profile_button">
              <%= link_to 'Edit Profile', edit_user_path(@user) %>
            </div>
            <div class="delete_profile_button">
            <%= link_to 'Delete Profile', user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
            <% end %>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <!-- right_footer -->
  <div class="right_footer">
        <%= render 'user_questions', :questions => @user.questions %>
        <% if @user.questions.count == 0 %>
        <div class="panel">
          <%= @user.name %> has not posted yet!
        </div>
        <% end %>
    <div class="panel">

    <%= render 'user_answers', :answers => @user.answers %>

    </div>
    <li><i class="fa fa-github"></i> Github 10 lasts repos updated: </li>

    <ul>
      <% @user.github_repos.each do |repo| %>
        <li><%= link_to repo[:name], repo[:html_url] %></li>
        <li>Updated <%= repo[:updated_at] %></li>
      <% end %>
    </ul>
  </div>

</body>
</html>
