<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Question Box</title>
  <!-- <link rel="stylesheet" type="text/css" href="/stylesheet/user_profile.scss"> -->
  <%= stylesheet_link_tag    "user_profile.css" %>
</head>
<body>
  <div class="wrapper">
    <aside>
      <div class="left_footer">
        <div class="profile_head">
          <div id="profile_pic">
            <%= image_tag @user.gravatar_url(size: 180) %>
          </div>
          <h1 id="name"><%=@user.name%></h1>
        </div>
        <div class="profile_info">
          <ul style="column-width:100px;">
            <li><i id="map" class="fa fa-map-marker"></i><span id="location"> Location </span></li>
            <li><i class="fa fa-envelope-o"></i> <span id="email" > <%=@user.email%>  </span></li>
            <li><i class="fa fa-clock-o"></i><span id="created_at"> Joined on <%=@user.created_at%></span></li>
            <li><i class="fa fa-stack-overflow"></i> StackOverflow User Reputation is: <%= @user.so_reputation %></li>
            <li><i class="fa fa-github"></i><span id="blog"> <%= @user.github_url%></span></li>
          </ul>
        </div>
      </div>

      <div class="right_footer">
        <li><i class="fa fa-github"></i> Github 10 lasts repos updated: <%= @user.github_repos %></li>

      </div>


    </div>

  </body>
  </html>
