<h1>What's your question?</h1>
<div class="new_question"><% if logged_in? %>
  <%= form_for @questions, :url => question_index_path do |f| %>
  <%= f.text_field :title, placeholder: "Question Title" %><br>
  <%= f.text_area :text, placeholder: "Question Body" %><br>
  <%= f.button :submit, class: "btn btn-large btn-success" %>
  <% end %>
  <% else %>
  	<h1><%= link_to "Login to ask", new_login_path %>
  <% end %>
</div>
<div class="main">
  <table>
    <tbody>
    <div class="unanswered_questions">Unanswered Questions</div>
      <% @question.each do |question| %>
      <tr>
        <td><%= link_to question.title, question_path(question) %>&nbsp &nbsp &nbsp<%= question.votes.count %>&nbsp votes &nbsp &nbsp<%= question.answers.count %>&nbsp answers
          <br>Asked by  <%= question.user.to_s %>
          <br>
          <br>
        </td>
       </tr>
      <% end %>
     </tbody>
   </table>
</div>

<div class= "main_2">
  <table>
    <tbody>
    <div class="answered_questions">Recently Answered</div>
    <% @question.each do |question| %>
      <tr>
        <td><%= link_to question.title, question_path(question) %>&nbsp &nbsp &nbsp<%= question.votes.count %>&nbsp votes &nbsp &nbsp<%= question.answers.count %>&nbsp answers
          <br>Asked by  <%= question.user.to_s %>
          <br>
          <br>
        </td>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>

<div class="paginate">
  <%= will_paginate @question %>
</div>
