<h1>HERE'S A BUNCH OF MUTHAFAKIN QUESTIONS</h1>
<div class="new_question">
<%= form_for @questions, :url => question_create_path do |f| %>
  <%= f.text_field :title, placeholder: "Question Title" %><br>
  <%= f.text_area :text, placeholder: "Question Body" %><br>
  <%= f.text_area :user_id, placeholder: "User" %><br>
  <%= f.button :submit, class: "btn btn-large btn-success" %>
<% end %>
</div>
<table>
  <tbody><div class="unanswered_questions">Unanswered Questions</div>
    <% @question.each do |question| %>
      <tr>
          <td><%= link_to question.title, question_path(question) %>&nbsp &nbsp &nbsp<%= question.votes.count %>&nbsp votes &nbsp &nbsp<%= question.answers.count %>&nbsp answers<br>


        <%= question.user.to_s %><br><br></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @question %>
