<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="animate.min.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>

<body>
 <header class ="header">
  <nav class="cl-effect-2">
      <a href="/">
        <span class= "bar" data-hover="Home">
          Home
        </span>
      </a>
      <a href="/questions/new">
        <span data-hover="New Question">
          New Question
        </span>
      </a>
      <a href="/questions">
        <span data-hover="All Questions">
          All Questions
        </span>
      </a>
      <a href="/questions">
        <span data-hover="Login">
          Login
        </span>
      </a>
  </nav>
  <img class="img" src="http://www.videogameobsession.com/videogame/ani_1firemario300-vgo.gif"/>
  <h1 class="headerText animated">QUESTION BOX</h1>
</header>



  <%= yield %>


  <footer class="footer-2">
    <div class="footer-logo">
      <img src="http://themushroomkingdom.net/images/ani/aniqblock.gif" alt="Logo image">
    </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>



    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
