<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>QuestionBox</title>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>