<!DOCTYPE html>
<html>
<head>
  <title>QuestionBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-nav">
QuestionBox
  <%= link_to "All Questions", root_path, :class => "topbar_links"  %>
    <% if logged_in? == nil %>
    <%= link_to "Login", new_login_path, :class => "topbar_links" %>
    <% end %>
    <% if logged_in? %>
      Logged in as <%= current_user.name %>
      <%= link_to "Logout", login_destroy_path, :method => :delete, :class => "topbar_links" %>
    <% end %>
</div>
<%= yield %>

</body>
</html>
