<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="animate.min.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>

<body>
 <header class ="header">
  <div id="background-wrap">
    <div class="x1">
        <div class="cloud"></div>
    </div>

    <div class="x2">
        <div class="cloud"></div>
    </div>

    <div class="x3">
        <div class="cloud"></div>
    </div>

    <div class="x4">
        <div class="cloud"></div>
    </div>

    <div class="x5">
        <div class="cloud"></div>
    </div>
</div>
  <nav class="cl-effect-2">
      <a href="/">
        <span class= "bar" data-hover="Home">
          Home
        </span>
      </a>
      
      <a href="/questions">
        <span class = "bar" data-hover="All Questions">
          All Questions
        </span>
      </a>
      <a href="/login">
        <span class = "bar" data-hover="Login">
          Login
        </span>
      </a>
  </nav>
  <img class="img" src="http://www.videogameobsession.com/videogame/ani_1firemario300-vgo.gif"/>
  <h1 class="headerText animated">QUESTION BOX</h1>
  <img class="coin" src="http://icons.iconarchive.com/icons/ph03nyx/super-mario/256/Retro-Coin-icon.png">

</header>
<%= yield %>
  <footer class="footer-2">
    <div class="footer-secondary-links">
      <ul>
      <div class="footer-logo">
      <img src="http://themushroomkingdom.net/images/ani/aniqblock.gif" alt="Logo image">
    </div>
       
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
